<!DOCTYPE html>
<html>
<head>
    <title>Blog</title>
    <meta name="csrf-token" content="{{ csrf_token() }}">
</head>
<body>

<h1>Welcome To Blog Page</h1>

{% if session.get('user_id') %}
    <a href="{{ url_for('home.dashboard') }}">Dashboard</a>
    <a href="{{ url_for('auth.logout') }}">Logout</a>
    <a href="{{url_for('auth.profile')}}">profile</a>
{% else %}
    <a href="{{ url_for('auth.login') }}">Login</a>
    <a href="{{ url_for('auth.register') }}">Register</a>
{% endif %}

{% with messages = get_flashed_messages() %}
  {% for msg in messages %}
    <p>{{ msg }}</p>
  {% endfor %}
{% endwith %}

<hr>

{% block centermain %}{% endblock %}

</body>
</html>
